---
import { Icon } from "astro-icon/components";
import imageOfMe from "../../../../assets/me.png";
import { ABOUT_ID } from "../../utils/section-id-list";
import { Image } from "astro:assets";

const bullet_points = [
  {
    icon: "fa6-solid:laptop-code",
    text: "~4 years of software (especially web) development practice",
    animation: "animate-bounce-in-1",
  },
  {
    icon: "fa6-brands:html5",
    text: "Frontend development: CSS/TailwindCSS, JavaScript/TypeScript, React.js",
    animation: "animate-bounce-in-2",
  },
  {
    icon: "fa6-brands:laravel",
    text: "Backend: PHP/Laravel, C#/ASP.NET Core, Next.js",
    animation: "animate-bounce-in-3",
  },
  {
    icon: "fa6-brands:linux",
    text: "Linux, Bash, Python, Docker",
    animation: "animate-bounce-in-4",
  },
  {
    icon: "fa6-brands:github",
    text: "Git and GitHub",
    animation: "animate-bounce-in-5",
  },
];
---

<section class="flex justify-center overflow-hidden pt-20 pb-16" id={ABOUT_ID}>
  <div
    class="container grid grid-rows-[auto_auto_auto] md:grid-cols-2 md:grid-rows-[auto_auto] md:place-items-center"
  >
    <h2
      class="shadow-normal font-fancy text-primary place-self-end justify-self-center text-6xl md:col-start-2 lg:text-8xl"
    >
      Hey, I'm Ryan
    </h2>
    <Image
      class="xs:p-4 w-full sm:p-16 md:row-span-2 md:row-start-1 md:p-8 lg:p-16"
      src={imageOfMe}
      alt="Ryan Groch"
    />
    <ul class="md:col-start-2">
      {
        bullet_points.map((item, i) => (
          <li
            class={`${item.animation} paused grid scale-0 grid-cols-[1fr_7fr] gap-2 px-4 pb-6`}
          >
            <Icon
              name={item.icon}
              class={`${i % 2 ? "text-secondary" : "text-primary"} w-16 self-center pr-2 text-6xl`}
            />
            <span class="font-fancy self-center text-2xl text-white lg:text-4xl">
              {item.text}
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<script>
  import observe from "../../utils/observer";
  import { ABOUT_ID } from "../../utils/section-id-list";

  const aboutSection = document.querySelector(`#${ABOUT_ID}`);
  if (!aboutSection) throw new Error("About-me section should exist.");

  observe(aboutSection, () => {
    const aboutItems = aboutSection.querySelectorAll(`ul > li`);
    if (!aboutItems.length) throw new Error("No 'about' items found.");

    aboutItems.forEach((item) => item.classList.remove("paused"));
  });
</script>
