---
import { Icon } from "astro-icon/components";
import imageOfMe from "../../../../assets/me.png";
import { ABOUT_ID } from "../../utils/section-id-list";

const bullet_points = [
  {
    icon: "fa6-solid:mobile-screen-button",
    text: "~3 years of self-taught programming experience",
    animation: "animate-bounce-in-1",
  },
  {
    icon: "fa6-brands:react",
    text: "HTML, CSS, SASS, JavaScript, TypeScript, React, Next.js",
    animation: "animate-bounce-in-2",
  },
  {
    icon: "fa6-brands:linux",
    text: "Linux, Bash",
    animation: "animate-bounce-in-3",
  },
  {
    icon: "fa6-brands:python",
    text: "Python, numpy, pandas, matplotlib",
    animation: "animate-bounce-in-4",
  },
  {
    icon: "fa6-brands:github",
    text: "Git and GitHub",
    animation: "animate-bounce-in-5",
  },
];
---

<section class="min-h-[100svh] overflow-hidden pt-20" id={ABOUT_ID}>
  <div
    class="grid grid-rows-[auto_auto_auto] md:grid-cols-2 md:grid-rows-[auto_auto] md:place-items-center"
  >
    <h2
      class="place-self-end justify-self-center font-fancy text-6xl text-primary md:col-start-2 lg:text-8xl"
    >
      Hey, I'm Ryan
    </h2>
    <img
      class="w-full xs:p-4 sm:p-16 md:row-span-2 md:row-start-1 md:p-8 lg:p-16"
      src={imageOfMe.src}
      alt="Me"
    />
    <ul class="md:col-start-2">
      {
        bullet_points.map((item, i) => (
          <li
            class={`${item.animation} paused grid scale-0 grid-cols-[1fr_7fr] gap-2 px-4 pb-6`}
          >
            <Icon
              name={item.icon}
              class={`${i % 2 ? "text-secondary" : "text-primary"} w-16 self-center pr-2 text-6xl`}
            />
            <span class="self-center font-fancy text-2xl text-white lg:text-4xl">
              {item.text}
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<script>
  import observer from "../../utils/observer";
  import { ABOUT_ID } from "../../utils/section-id-list";

  const about_section = document.querySelector(`#${ABOUT_ID}`);
  if (!about_section) throw new Error("About-me section should exist.");

  observer.observe(about_section);
</script>
