---
import { Icon } from "astro-icon/components";
import {
  NAVBAR_ID,
  ABOUT_ID,
  PROJECTS_ID,
  CONTACT_ID,
} from "../../utils/section-id-list";

const section_links = [
  {
    text: "About",
    href: `#${ABOUT_ID}`,
    animation: "animate-grow-1",
  },
  {
    text: "Portfolio",
    href: `#${PROJECTS_ID}`,
    animation: "animate-grow-2",
  },
  {
    text: "Contact",
    href: `#${CONTACT_ID}`,
    animation: "animate-grow-3",
  },
];

const social_links = [
  {
    text: "Resume",
    href: "/resume.pdf",
    icon: "fa6-solid:file-lines",
    animation: "animate-grow-3",
  },
  {
    text: "GitHub",
    href: "https://github.com/ryangroch",
    icon: "fa6-brands:square-github",
    animation: "animate-grow-2",
  },
  {
    text: "LinkedIn",
    href: "https://www.linkedin.com/in/ryan-groch/",
    icon: "fa6-brands:linkedin",
    animation: "animate-grow-1",
  },
];
---

<header
  class="border-primary bg-tertiary sticky top-0 z-10 flex flex-col items-center justify-center border-b-[3px] p-2 transition-transform duration-300 md:flex-row md:justify-between"
  id={NAVBAR_ID}
>
  <nav class="py-2 md:py-0">
    <ul class="flex items-center justify-center gap-4 px-2">
      {
        section_links.map((link) => (
          <li class={`${link.animation} scale-0`}>
            <a
              class="font-fancy text-primary hover:text-secondary xs:text-3xl text-2xl font-medium transition-colors duration-300"
              href={link.href}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <ul class="flex items-center justify-center gap-3 px-2">
    {
      social_links.map((link) => (
        <li
          class={`text-secondary hover:text-primary scale-0 transition-colors duration-300 ${link.animation}`}
        >
          <a
            class="flex flex-col items-center justify-center"
            href={link.href}
            target="_blank"
          >
            <Icon name={link.icon} class="text-3xl" />
            <span class="font-fancy text-primary text-xl sm:text-2xl">
              {link.text}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</header>
