---
import { Icon } from "astro-icon/components";
import {
  NAVBAR_ID,
  ABOUT_ID,
  PROJECTS_ID,
  CONTACT_ID,
} from "../../utils/section-id-list";

const section_links = [
  {
    text: "About",
    href: `#${ABOUT_ID}`,
    animation: "animate-grow-1",
  },
  {
    text: "Portfolio",
    href: `#${PROJECTS_ID}`,
    animation: "animate-grow-2",
  },
  {
    text: "Contact",
    href: `#${CONTACT_ID}`,
    animation: "animate-grow-3",
  },
];

const social_links = [
  {
    text: "GitHub",
    href: "https://github.com/ryangroch",
    icon: "fa6-brands:square-github",
    animation: "animate-grow-3",
  },
  {
    text: "LinkedIn",
    href: "https://www.linkedin.com/in/ryan-groch/",
    icon: "fa6-brands:linkedin",
    animation: "animate-grow-2",
  },
  {
    text: "Resume",
    href: "/resume.pdf",
    icon: "fa6-solid:file-lines",
    animation: "animate-grow-1",
  },
];
---

<header
  class="sticky top-0 z-10 flex flex-col items-center justify-center border-b-[3px] border-primary bg-tertiary p-2 transition-transform duration-300 md:flex-row md:justify-between"
  id={NAVBAR_ID}
>
  <nav class="py-2 md:py-0">
    <ul class="flex items-center justify-center gap-4 px-2">
      {
        section_links.map((link) => (
          <li class={`${link.animation} scale-0`}>
            <a
              class="font-fancy text-2xl font-medium text-primary transition-colors duration-300 hover:text-secondary xs:text-3xl"
              href={link.href}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <ul class="flex items-center justify-center gap-2 px-2">
    {
      social_links.map((link) => (
        <li
          class={`scale-0 text-secondary transition-colors duration-300 hover:text-primary ${link.animation}`}
        >
          <a
            class="flex flex-col items-center justify-center"
            href={link.href}
            target="_blank"
          >
            <Icon name={link.icon} class="text-3xl" />
            <span class="font-fancy text-lg text-primary">{link.text}</span>
          </a>
        </li>
      ))
    }
  </ul>
</header>

<script>
  import { NAVBAR_ID } from "../../utils/section-id-list";

  const navbar = document.querySelector(`#${NAVBAR_ID}`);
  if (!navbar) throw new Error("Navbar should exist.");

  let last_scroll_pos = 0;
  let ticking = false;

  document.addEventListener("scroll", () => {
    if (!ticking) {
      window.requestAnimationFrame(() => {
        // If scrolling down, hide navbar. If scrolling up, show navbar.
        const method = window.scrollY > last_scroll_pos ? "add" : "remove";
        navbar.classList[method]("-translate-y-36", "md:-translate-y-20");

        // Make sure that we're ready for the next time the user scrolls
        ticking = false;
        last_scroll_pos = window.scrollY;
      });

      ticking = true;
    }
  });
</script>
